#slider1{
    height:400px;
    background-color: aqua
}

#slider2{
    height:400px;
    background-color: rgb(255, 0, 149)
}

#slider3{
    height:400px;
    background-color: rgb(0, 255, 13)
}

#slider4{
    height:400px;
    background-color: rgb(255, 0, 0)
}
#slider5{
    height:400px;
    background-color: rgb(55, 0, 255)
}